<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="container-fluid">
	<div class="row">
      <div *ngFor="let colPhoto of tabcolleguesPhoto">
            <div class="col col-md-4 col-xs-6 thumb">
                <a routerLink="/galerie/{{ colPhoto.matricule }}">
                    <img class="img-thumbnail"
                         src="{{colPhoto.photoUrl}}"
                         alt="Affichage PHOTO">
                </a></div>
            </div>
            </div>
        </div>